@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');

.container {
    width: 500px;
    margin: 0 auto;
}

body {
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-weight: 200;
}

p {
    font-weight: 300;
}

